<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	autoReload="true">
  
  <variable name="default_loyout"
            value="${date} [${level}] [${threadname}] ${callsite} - ${message} ${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,stacktrace}"/>

  <targets async="true">
    <target name="log_file"
            xsi:type="File"
            fileName="${basedir}/log.log" 
            archiveAboveSize="1024000"
            layout="${default_loyout}"
            encoding="utf8" />
    
  </targets>
  
  <rules>
    <logger name="*" writeTo="log_file" />
  </rules>
</nlog>
